/* The bare minimum styling applied to all demo Fontsamplers */

// A fairly simple approach to spacing out all the UI elements
> .fsjs-wrapper {
    display: flex;
    justify-content: space-between;
}

.fsjs-block-tester {
    display: block;
}

// All UI elements
.fsjs-block {
    box-sizing: border-box;
    padding: $elementPadding;
    margin: $elementMargin;
    width: 100%;
}

.fsjs-block-type-slider {
    .fsjs-label {
        padding: 5px 0;
        display: flex;
        justify-content: flex-end;
        width: 100%;

        // Only for labels with Text, value & unit
        span:first-child {
            margin-right: auto;
        }
    }
}

.fsjs-block-opentype .fsjs-label {
    display: block;
    justify-content: flex-start;
}

[contenteditable] {
    outline: none;
}
