/**
 * Styling for the demo and documentation pages, not the Fontsamplers
 */
body {
    margin: 5rem auto;
    max-width: 60rem;
    padding: 0 2rem 0 17rem;
    color: #333;
    font-size: 18px;
    position: relative;
}

nav {
    width: 15rem;
    position: fixed;
    top: 12rem;
    margin-left: -15rem;
}

main {
    /* max-width: 50rem; */
    width: 45rem;
}

h2,
h3 {
    clear: both;
    margin: 4em auto 2em;
}

h2[id]:before,
h3[id]:before {
    color: #DE2543;
    content: "â‹";
    margin-left: -0.75em;
    margin-right: 0.25em;
    font-weight: normal;
}

a {
    color: #08F;
}

ul {
    padding-left: 0.5em;
}

li {
    padding: 0.1em 0;
}

.demo {
    border: 2px solid #DE2543;
    box-shadow: 0 0 5px #dcdcdc;
    padding: 2rem;
    margin: 2rem auto;
    position: relative;
}

.demo:before {
    content: "DEMO";
}

em {
    font-family: monospace;
    font-style: normal;
    color: #666;
    background: #EEE;
    border-radius: 3px;
    border: 1px solid #CCC;
    padding: 2px 5px;
    font-size: smaller;
}

code {
    background: #f6f6f6;
    border-radius: 0.25rem;
    color: #444;
    display: block;
    padding: 1rem;
    position: relative;
    margin: 2rem auto;
    white-space: pre;
    line-height: 1.35em;
    letter-spacing: 0.025em;
    font-size: smaller;
    overflow-x: scroll;
}

code em {
    font-style: normal;
    color: #DE2543;
    border: 0;
    padding: initial;
    font-size: inherit;
    background: initial;
}

code i {
    font-style: normal;
    color: #999;
}

code:before {
    content: "CODE";
}

code:before,
.demo:before {
    font-family: monospace;
    position: absolute;
    top: 0.5em;
    left: 0;
    background: inherit;
    padding: 0.25em 0.5em;
    transform-origin: left top;
    transform: rotate(-90deg) translate(-100%, -100%);
}


.fontsampler {
    transition: opacity 0.2s ease-out;
    opacity: 0;
}

.fontsampler.fontsampler-initialized {
    opacity: 1;
    display: block;
}

body {
    background: #fcfcfc;
    color: #050303;
}

header {
    box-sizing: border-box;
}

footer {
    clear: both;
    padding-top: 5rem;
}

.underscore-logo {
    display: block;
    height: auto;
    max-width: 150px;
}

.split {
    display: flex;
    justify-content: space-between;
}
.split > *{
    box-sizing: border-box;
    width: 50%;
    padding: 0 10px;
}

#api-methods {
    line-height: 1.5;
}

#eventlog {
    max-height: 25vh;
    overflow-y: scroll;
    background: #EEE;
    min-height: 10em;
    font-size: 0.75rem;
    font-family: monospace;
    color: #666;
    padding: 0.5em;
    line-height: 1.5;
    box-sizing: border-box;
}
